<footer class="footer">
    <div class="footer-container">
        <nav aria-labelledby="footer-resources">
            <h2 id="footer-resources" class="visually-hidden">Resources</h2>
            <ul class="footer-resources">
                <li><a href="../logs/learning-notes.html" aria-label="Accessibility Field Notes">A11y
                        Field
                        Notes</a></li>
                <li><a href="../logs/wcag-compliance.html">WCAG Reference Log</a></li>
            </ul>
        </nav>
        <p>&copy;
            <span id="year"></span> Learning Digital Accessibility
        </p>
    </div>
</footer>