<div class="footer">
    <div class="footer-container">
        <nav aria-labelledby="footer-resources">
            <h2 id="footer-resources" class="visually-hidden">Footer Main Menu</h2>
            <ul class="footer-resources">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="logs/learning-notes.html" aria-label="Accessability Field Notes">A11y Notes</a></li>
                <li><a href="logs/wcag-compliance.html">WCAG Log</a></li>
                <li><a href="blog/blog.html">Blog</a></li>
            </ul>
        </nav>
        <p class="copyright">&copy;
            <span id="year"></span> Learning Digital Accessibility
        </p>
    </div>
</div>